<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>

<header id="header"></header>
<main>
  <header>
    <h1>첫번째 글</h1>
  </header>
  <aside>
    <aside>
      <p><span>m5s3</span></p>
      <p><a href="mailto:devmyoungsoo2@gmail.com">m5s3@mail.com</a></p>
      <p><time id="created-at" datetime="2022-01-01T00:00:00">2022-01-01</time></p>
      <p>#java</p>
    </aside>
  </aside>
  <section>
    <p>본문<br><br></p>
    <div>
      <form action="">
        <label for="articleComment" hidden>댓글</label>
        <textarea id="articleComment" type="text" placeholder="댓글쓰기"></textarea>
        <button type="submit">쓰기</button>
      </form>
      <ul>
        <li>
          <div>
            <time><small>2023-05-12</small></time>
            <strong>m5s3</strong>
            <p>
              Lorem ipsum dolor sit amet,
              Lorem ipsum dolor sit amet
            </p>
          </div>
        </li>
        <li>
          <div>
            <time><small>2023-05-12</small></time>
            <strong>m5s3</strong>
            <p>
              Lorem ipsum dolor sit amet,
              Lorem ipsum dolor sit amet
            </p>
          </div>
        </li>
      </ul>
    </div>
    <nav class="page-pagination" role="navigation">
      <a href="#">이전 글</a>
      <a href="#">다음 글</a>
    </nav>
  </section>
</main>
<footer id="footer"></footer>


</body>
</html>